@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>Oups, no accomodation available!</h2>

<p>There are currently no available properties in the chosen city, please check in later!</p>
